// COLORES

// TIPOGRAFIA
$primary-font: "Raleway", sans-serif;
// Secondary-Font
$secondary-font: "SaolDisplay";

$light-font: 300;
$regular-font: 400;
$semibold-font: 500;
$bold-font: 700;

// BREAKPOINS
$s: 0;
$m: 640px;
$l: 1024px;
$lg: 1200px;
$xl: 1440px;
