// COLORES
$black: #011109;
$light-green: #a4bcb0;
$white-green: #d4f1e2;
$white: #fff;
$red: #bd1025;
$grey: #272727;
$green: #008081;
$dark-green: #1f271b;
$black-green: #010c06;
$black-100: #000;
// TIPOGRAFIA
$primary-font: "Raleway", sans-serif;
// Secondary-Font
$secondary-font: "SaolDisplay";

$thin-font: 100;
$light-font: 300;
$regular-font: 400;
$semibold-font: 500;
$bold-font: 700;

// BREAKPOINS
$s: 0;
$m: 640px;
$sl: 700px;
$l: 1024px;
$lg: 1200px;
$xl: 1440px;
