.faqs {
  width: 100%;
  background-color: $white-green;
  margin: 0 0 0 0;

  & .faq {
    border-bottom: solid 1px $black;
    margin: 0 0 5rem 0;
    font-size: 2.4rem;
  }

  & .faq__panel {
    display: none;
  }

  & .faq__title {
    width: 100%;
    padding: 0 10px 20px 0;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../../img/icons/arrow-down.svg);
    }
  }
}
