.header {
  width: 100%;
  min-height: 70vh;
  background: $black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include response-min($l) {
    min-height: 100vh;
  }

  &.header--programas {
    background: rgb(1, 17, 9);
    background: -moz-linear-gradient(
      180deg,
      rgba(1, 17, 9, 1) 20%,
      rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(1, 17, 9, 1) 20%,
      rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(1, 17, 9, 1) 20%,
      rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011109",endColorstr="#000000",GradientType=1);
  }

  & .header__object {
    align-self: flex-start;
    max-width: 70%;
    margin: 0;
    position: relative;
  }

  & .header__subtitle {
    color: $white-green;
    font-family: $secondary-font;
    font-size: 3.2rem;
    font-style: italic;
    position: absolute;
    top: 70%;
    left: 45%;
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: $red;
      top: 50%;
      left: -80px;
    }
  }

  &.header--heroes {
    position: relative;
    z-index: 2;

    & .header__teacher {
      position: absolute;
      top: 0;
      mix-blend-mode: multiply;

      right: 0;
      z-index: 1;
      transform: translate(-50%, -50%);
    }
  }

  & .header__categories {
    margin: 15rem 0 0 0;
  }

  &.header--conocenos,
  &.header--heroes,
  &.header--programas {
    & .header__quote {
      span {
        font-family: inherit;
        font-style: inherit;
        color: $green;
      }
    }

    & .header__desc {
      max-width: 80%;
      margin: 0 auto;
      font-weight: $semibold-font;
      position: relative;
      padding: 0 0 5rem 0;

      @include response-min($m) {
        max-width: 40%;
      }
      @include response-min($l) {
        max-width: 35%;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 70%;
        left: 50%;
        height: 1px;
        transform: translate(-50%, -50%);
        background-color: $red;
      }
    }
  }

  & .header__title {
    position: relative;
    color: $white-green;
    text-align: center;
    width: 100%;
    padding: 10rem 0 0 0;
    z-index: 1;
  }

  & .header__img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    z-index: -1;
  }

  & .header__quote {
    font-size: 4.6rem;
    font-family: $primary-font;
    font-weight: $thin-font;
    margin: 0 0 4rem 0;
    line-height: 1em;
    @include response-min($l) {
      font-size: 9.6rem;
    }
    span {
      font-family: $secondary-font;
      font-style: italic;
      color: $red;
    }
  }

  & .header__desc {
    font-family: $primary-font;
    font-weight: $thin-font;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    @include response-min($l) {
      font-size: 2.4rem;
      margin-bottom: 10rem;
    }
  }
}
