.header {
  width: 100%;
  height: calc(100vh - 120px);
  background: $black;
  position: relative;
  overflow: hidden;

  &.header--conocenos {
    & .header__quote {
      span {
        font-family: inherit;
        font-style: inherit;
        color: $green;
      }
    }

    & .header__desc {
      max-width: 35%;
      margin: 0 auto;
      font-weight: $semibold-font;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        width: 70%;
        left: 50%;
        height: 1px;
        transform: translate(-50%, -50%);
        background-color: $red;
      }
    }
  }

  & .header__title {
    color: $white-green;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  & .header__img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    z-index: 1;
  }

  & .header__quote {
    font-size: 9.6rem;
    font-family: $primary-font;
    font-weight: $thin-font;
    margin: 0 0 3rem 0;
    line-height: 1em;
    span {
      font-family: $secondary-font;
      font-style: italic;
      color: $red;
    }
  }

  & .header__desc {
    font-family: $primary-font;
    font-weight: $thin-font;
    font-size: 2.4rem;
    margin-bottom: 10rem;
  }
}
