.testimonials {
  width: 100%;
  background: $grey;
  position: relative;
  margin: 0;

  & .testimonial {
    margin: 5rem 0 10rem 0;
  }

  .testimonials__title {
    font-family: $secondary-font;
    font-size: 15rem;
  }

  & .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white-green;
  }

  & .testimonial__image {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  & .testimonial__img {
    width: 100%;
    max-width: 250px;
    border: solid 1px $red;
    border-radius: 50%;
    padding: 1rem;
    display: block;
    margin: 0 auto 2rem auto;
  }

  & .testimonial__title {
    font-size: 2.8rem;

    margin: 0 0 1rem 0;
  }

  & .testimonial__job {
    font-size: 1.6rem;
    font-weight: $bold-font;

    margin: 0 0 2.5rem 0;
  }

  & .testimonial__desc {
    width: 90%;
    font-size: 1.8rem;
    text-align: center;
    font-weight: $thin-font;
    margin: 0 0 3rem 0;
  }

  & .testimonial__arrow {
    position: absolute;
    display: none;
    max-width: 20px;
    cursor: pointer;
    top: 50%;
    left: calc(50% + -180px);
    transform: translate(-50%, -50%);
    &.testimonial__arrow--left {
      left: calc(50% + -200px);
    }
    &.testimonial__arrow--right {
      left: calc(50% + 200px);
    }
  }
}
