.title-section {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  font-size: 15rem;
  line-height: 0.9em;
  margin: -13rem 0 25rem 0;
  z-index: 1;
  overflow: hidden;
  span {
    position: relative;
    &::after {
      content: "";
      top: 50%;
      left: 125%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 1px;
      position: absolute;
    }
    &:nth-last-of-type(2n + 1) {
      align-self: flex-end;
      &::after {
        background-color: $black;
        left: -30%;
      }
    }
  }
  &.title-section--programas {
    max-width: 95%;
    color: $red;
    margin: -13rem 0 15rem 0;

    span {
      &:nth-last-of-type(2n + 1) {
        align-self: flex-start;
        padding-left: 5rem;
        color: $black;
        &::after {
          left: 0;
          top: 55.8%;
          width: 20%;
        }
      }
      &:nth-last-of-type(2n) {
        align-self: flex-end;
        padding-right: 15rem;
        color: $black;
        &::after {
          display: none;
        }
      }
      &:nth-of-type(1) {
        color: $red;
        &::after {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          left: 95%;
          width: 100%;
          height: 1px;
          background: $red;
          top: 50%;
        }
      }
    }
  }

  &.title-section--powered {
    margin-bottom: 15rem;
    span {
      &::after {
        background: $black;
        left: 134%;
      }
      &:last-of-type {
        align-self: center;
        color: $white-green;
        &::after {
          left: -140%;
          width: 300%;
          background: $white-green;
        }
      }
    }
  }
}

.title-italic {
  color: $white-green;
  font-family: $secondary-font;
  font-style: italic;
  text-align: center;
  font-size: 3.2rem;
  padding: 2rem;
  position: relative;
  display: inline-block;
  margin: 0 0 15rem 0;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 1px;
    background-color: $red;
  }
}
