html {
  font-family: $primary-font;
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
}

@font-face {
  font-family: $secondary-font;
  src: url("../fonts/SaolDisplay-Light.woff2") format("woff2"),
    url("../fonts/SaolDisplay-Light.woff") format("woff");
  font-weight: $light-font;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font;
  src: url("../fonts/SaolDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SaolDisplay-Regular.woff") format("woff");
  font-weight: $regular-font;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font;
  src: url("../fonts/SaolDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SaolDisplay-Medium.woff") format("woff");
  font-weight: $semibold-font;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font;
  src: url("../fonts/SaolDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SaolDisplay-Medium.woff") format("woff");
  font-weight: $bold-font;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
