.page-content {
  margin: 0;
  width: 100%;
  background: #000;
  color: $white-green;
  font-size: 1.8rem;
  line-height: 1.4em;
  padding: 30px 20px;
  box-sizing: border-box;
  overflow: hidden;

  @include response-min($l) {
    padding: 10rem;
  }
}
