.unete {
  background-color: #000;
  color: $white-green;
  margin: 0;
  padding: 0 0 4rem 0;
  font-size: 1.8rem;
}

.unete__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include response-min($m) {
    flex-wrap: nowrap;
  }
  .btn {
    width: 90%;
    text-align: center;
    margin-bottom: 3rem;
    @include response-min($m) {
      width: 50%;
    }
    @include response-min($l) {
      width: 30%;
    }
  }
  .btn:first-of-type {
    @include response-min($m) {
      margin-right: 5rem;
    }
  }
}

.unete__desc {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.6rem;
  line-height: 1.5em;
}
